@model EditInternshipInfoViewModel
@using HitsInternshipAssistant.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

    @section Styles {
<link rel="stylesheet" href="~/css/userEditInternshipInfoViewModel.css" asp-append-version="true" />
}

<div class="container">
    <h4 class="mb-3">Редактировать информация о стажировке</h4>
    <h5 style="color: #808080;" class="mb-5">@ViewBag.User.LastName @ViewBag.User.FirstName @ViewBag.User.Patronymic</h5>
    <form asp-action="EditInternshipInfo" asp-route-userId="@ViewBag.User.Id" method="post">
        <h5>Компания</h5>
        <div class="col-9 mt-4 mb-4">
             <select asp-for="CompanyId" asp-items="@(new SelectList(ViewBag.Companies, "Id", "Name"))" class="form-control"></select>
        </div>
        <h5>Направление</h5>
        <div class="col-9 mt-4 mb-5">
             <select asp-for="WorkDirectionId" asp-items="@(new SelectList(ViewBag.WorkDirections, "Id", "Name"))" class="form-control"></select>
        </div>
        <input id="syb" type="submit" value="Сохранить" class="btn btn-default be-2" />
        <a id="syb" class="btn" asp-action="Details" asp-controller="User" asp-route-userId="@ViewBag.User.Id">Отмена</a>
    </form>
</div>