@using HitsInternshipAssistant.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HitsInternshipAssistant.Data.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HitsInternshipAssistant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HitsInternshipAssistant.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
    <script src="https://kit.fontawesome.com/63ff801e25.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <header class="app-header">
            <div class="header-bar">
                <div class="header-bar-left p-3">
                    <a asp-area="" asp-page="/Index"><img src="~/img/logo.png" /></a>
                    <a id="serviceName" class="navbar-brand text-header-title" asp-area="" asp-page="/Index">HitsIntership</a>
                </div>
                <div class="header-bar-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="header-bar-search">
                            <div id="formContainer" class="pt-1 d-flex flex-row">
                                <input type="text" id="searchForm" class="form-control" placeholder="Поиск..." aria-label="Search" />
                                <i class="fa-solid fa-magnifying-glass d-flex align-self-center me-4"></i>
                            </div>
                        </div>
                    }
                </div>
                <div class="header-bar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown">
                            <button onclick="OpenDropdown()" class="dropbtn">@User.Identity?.Name</button>
                            <div id="LoginDropdown" class="dropdown-content bg-white">
                                <a class="border-dark border-bottom text-black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Настройки</a>
                                <div class="hover-helper ">
                                    <form class="form-inline text-left" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button class="btn btn-link text-black text-decoration-none btn-block w-100 text-start" type="submit">Выход</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="h-100 w-100">
                            <div class="half-header text-center">
                                <a class="text-black h-100 w-100" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>

                            </div>
                            <div class="half-header text-center">
                                <a class="text-black h-100 w-100 " asp-area="Identity" asp-page="/Account/Login">Вход</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </header>

        <aside class="app left-aside-menu aside-menu">
            <nav class="stacked-menu">
                <ul class="listItemsSidePanel list-group">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(Roles.University))
                        {

                            <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                                <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="StudentReviews" asp-action="Index">
                                    @*MainPage для университета*@
                                    <i class="menuIcons fa-solid fa-house ms-4 me-4 d-flex align-self-center"></i>Главная
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                                <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="VacancyApplies" asp-action="Index">
                                    @*MainPage*@
                                    <i class="menuIcons fa-solid fa-house ms-4 me-4 d-flex align-self-center"></i>Главная
                                </a>
                            </li>
                        }
                    }
                    else if (User.IsInRole(Roles.Admin))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" href='/'>
                                @*Users*@
                                <i class="menuIcons  fa-solid fa-house ms-4 me-4 d-flex align-self-center"></i>Пользователи
                            </a>
                        </li>
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" href='/'>
                                @*Vacancy*@
                                <i class="menuIcons  fa-solid fa-suitcase ms-4 me-4 d-flex align-self-center"></i>Вакансии
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.University) || User.IsInRole(Roles.Admin))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="PracticeJournals" asp-action="Index">
                                @*Дневники практик для деканата*@
                                <i class="menuIcons fa-solid fa-book ms-4 me-4 d-flex align-self-center"></i>Дневники практики
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.Admin))
                    {
                           <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="User" asp-action="GetStudents">
                                @*Students for university*@
                                <i class="menuIcons  fa-solid fa-globe ms-4 me-4 d-flex align-self-center"></i>
                                Студенты
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.Admin) || (!User.IsInRole(Roles.Admin)
                    && !User.IsInRole(Roles.HR)
                    && !User.IsInRole(Roles.University) && User.Identity.IsAuthenticated))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="Companies" asp-action="Index">
                                @*Company*@
                                <i class="menuIcons  fa-solid fa-briefcase ms-4 me-4 d-flex align-self-center"></i>
                                Компании
                            </a>
                        </li>
                    }

                    else if (User.IsInRole(Roles.HR))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="Companies" asp-action="GetInterns">
                                @*Students for HR*@
                                <i class="menuIcons  fa-solid fa-globe ms-4 me-4 d-flex align-self-center"></i>
                                Студенты
                            </a>
                        </li>
                    }
                    else if (User.IsInRole(Roles.University))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="User" asp-action="GetStudents">
                                @*Students for university*@
                                <i class="menuIcons  fa-solid fa-globe ms-4 me-4 d-flex align-self-center"></i>
                                Студенты
                            </a>
                        </li>
                    }

                    @if ((!User.IsInRole(Roles.Admin)
                    && !User.IsInRole(Roles.HR)
                    && !User.IsInRole(Roles.University) && User.Identity.IsAuthenticated) || User.IsInRole(Roles.HR))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="Vacancies" asp-action="Index">
                                @*Vacancy*@
                                <i class="menuIcons fa-solid fa-suitcase ms-4 me-4  d-flex align-self-center"></i>
                                Вакансии
                            </a>
                        </li>
                    }

                    else if (User.IsInRole(Roles.University))
                    {
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="Companies" asp-action="Index">
                                @*Company*@
                                <i class="menuIcons p-0 fa-solid fa-briefcase ms-4 me-4 d-flex align-self-center"></i>
                                Компании
                            </a>
                        </li>
                        <li class="itemSidePanel p-3  list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="Vacancies" asp-action="Index">
                                @*Vacancy*@
                                <i class="menuIcons fa-solid fa-suitcase ms-4 me-4  d-flex align-self-center"></i>
                                Вакансии
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.Admin))
                    {
                        
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="itemSidePanel p-3 list-group-item d-flex justify-content-start">
                            <a class="menuRefs p-0 m-0 d-flex flex-row" asp-controller="CompanySpeeches" asp-action="Index">
                                @*Calendar*@
                                <i class="menuIcons p-0 fa-solid fa-calendar-days ms-4 me-4 d-flex align-self-center"></i>График
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </aside>
        <div class="app-main">
            <div class="wrapper ms-3">
                @RenderBody()
            </div>
        </div>
        <div class="aside-menu aside-menu-right">
            @*Сюда пихать правое боковое меню
            мб надо будет overflow:hidden  сюда докинуть я хз
            *@
        </div>
        <div class="push"></div>
    </div>
    <footer class="footer text-muted pe-5 ">
        <div class="container d-flex  justify-content-between">
            <div>
                &copy; Team 21, 2022
            </div>
            <div class="d-flex">
                <div class="pe-5">
                    Privacy Policy
                </div>
                <div>
                    Terms of Service
                </div>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/generalArea.js" asp-append-version="true"></script>
    @{
        await RenderSectionAsync("Scripts", required: false);
    }
</body>
</html>